/* Estilos globales */
body {
    margin: 0;
    padding: 0;
    font-family: "Quantico", sans-serif;
    background-color: #e1e6eb;
    color: #090e14;
    box-sizing: border-box;
    background-image: url('../images/fondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 80px;
    padding-bottom: 60px;
   
}
.btn-fixed-size {
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mt-12 {
    margin-top: 8rem;
   
}
.card {
    position: relative;
}
